<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <script src="{{url_for('static',filename='script.js')}}" defer></script>
    <title>Jinja Practice</title>
</head>
<body>
    {% if test %}
       <h1>Things can work with {{task}}</h1>
    {% else %}
       <h1>All other tasks.</h1>
    {% endif %}
    <ul>
    {% for task in tasks %}
        <li>{{task}}</li>
        {% endfor %}
    </ul>
    <img src="{{url_for('static',filename='image.jpeg')}}" alt="Some image"/>
</body>
</html>